<!DOCTYPE html>

<html>
    <head>
        <title>Borg Library | Employee Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="loginForm">
            <form method="post">
                Employee ID</br><input type="text" id="employeeIDEntry" name="employeeIDEntry">
                Password</br><input type="password" id="employeePassEnter" name="employeePassEnter">
            </form>
        </div>
    </body>
</html>
