<!DOCTYPE html>

<html>
    <head>
        <title>Borg Library | Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Browse Inventory</h1>
        <form method="post">
            <select name="selectType" id="selectType" onchange="setDisplayComponents()">
                <option disabled selected>Select Type...</option>
                <option>Book</option>
                <option>Film</option>
                <option>Audio</option>
            </select>
            <select id="selectBookAttr" name="selectBookAttr" style="display:none" onchange="setSearchComponents()">
                <option disabled selected>Search by...</option>
                <option>ISBN</option>
                <option>Author</option>
            </select>
            <select id="selectFilmAttr" name="selectFilmAttr" style="display: none" onchange="setSearchComponents()">
                <option disabled selected>Search by...</option>
                <option>FilmID</option>
                <option>Director</option>
            </select>
            <select id="selectAudioAttr" name="selectAudioAttr" style="display: none" onchange="setSearchComponents()">
                <option disabled selected>Search by...</option>
                <option>AudioID</option>
                <option>Artist</option>
            </select>
            <input type="submit" value="Find">
        </form>
        <script>
            function setDisplayComponents() {
                var selection = document.getElementById("selectType").value;
                var itemTypes = ["Book","Film","Audio"];
                var searchBy;
                for(var i = 0; i < itemTypes.length; i++) {
                    if(selection === itemTypes[i]) {
                        document.getElementById("select" + itemTypes[i] + "Attr").style="display:inline";
                        searchBy = "select" + itemTypes[i] + "Attr";
                    } else
                        document.getElementById("select" + itemTypes[i] + "Attr").style="display:none";
                }
            }
            
        </script>
        <div id="displayResult">
            <% if (parameter === "Author") { %>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Branch</th>
                <th>Items Available</th>
            </tr>
            <% for (result in results) { %>
            <tr>
                <td><%= results[result]['authorName'] %></td>
                <td><%= results[result]['title'] %></td>
                <td><%= results[result]['branchName'] %></td>
                <td><%= results[result]['NUM_COPIES'] %></td>
            </tr>
            <% } %>
            <% } else {%>
            <tr>
                <td>Ha ha ha</td>
                <td>You didn't</td>
                <td>say the</td>
                <td>magic word!</td>
            </tr>
            <% } %>
            <h3>Random Task</h3>
            <p><%= parameter %></p>
        </div>
    </body>
</html>