<!DOCTYPE html>

<html>
    <head>
        <title>Borg Library | Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Browse Inventory</h1>
        <p id="debugvalue">Stuffage</p>
        <select id="selectType" onchange="setDisplayComponents()">
            <option disabled selected>Select Type...</option>
            <option>Book</option>
            <option>Film</option>
            <option>Audio</option>
        </select>
        <select id="selectBookAttr" name="selectBookAttr" style="display: none">
            <option disabled selected>Search by...</option>
            <option>ISBN</option>
            <option>Author</option>
        </select>
        <select id="selectFilmAttr" name="selectFilmAttr" style="display: none">
            <option disabled selected>Search by...</option>
            <option>FilmID</option>
            <option>Director</option>
        </select>
        <select id="selectAudioAttr" name="selectAudioAttr" style="display: none">
            <option disabled selected>Search by...</option>
            <option>AudioID</option>
            <option>Artist</option>
        </select>
        <script>
            function setDisplayComponents() {
                var selection = document.getElementById("selectType").value;
                var itemTypes = ["Book","Film","Audio"];
                for(var i = 0; i < itemTypes.length; i++) {
                    if(selection === itemTypes[i])
                        document.getElementById("select" + itemTypes[i] + "Attr").style="display:inline";
                    else
                        document.getElementById("select" + itemTypes[i] + "Attr").style="display:none";
                }
            }
        </script>
    </body>
</html>
